#container{
    background-color: #0066FF;
    width: 800px;
    overflow: hidden;
   /* border: 1px solid #000000;*/
}

#container > p{
    background-color: #FF0000;
    margin: 0;
    width: 300px;
    float: right;
}
#container > div{
    background-color: #ffec35;
    width: 300px;
    float: left;
}
#container > footer{
    background-color: #ff27f4;
    clear: both;

}



#container > img{
   /* float: left;*/
   /* float: right;*/
}


