
@import url(normalize.css);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url(font-awesome.min.css);
/*Global css*/

*, *::before, *::after{
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

section{
    padding-top: 80px;
    padding-bottom: 80px;
}
.container{
    width: 1170px;
    margin: 0 auto;
}

.row{
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}
.col-3{
    float: left;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-4{
   float: left;
    width: 33.3333%;
     padding-left: 15px;
      padding-right: 15px;
}
.col-6{
    float: left;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
figure{
    margin: 0;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.text-center{
    text-align: center;
}
h1, h2, h3, h4, h5, h6,p{
    margin: 0;
}
h3{
    color: #444444;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 28px;
}
h4{
    color: #444444;
    font-size: 17px;
    padding-top: 25px;
    padding-bottom: 18px;
}

/*Style for Header*/

header{
    background-color: #f9f9f9;
}

header > .container > div{
    overflow: hidden;
}
header figure{
    float: left;
    padding-top: 8px;
    padding-bottom: 5px;
}
header figure > figcaption{
    position: relative;
}
header p{
    font-weight: bold;
    position: absolute;
    bottom: 35px;
    left: 100px;
}
header nav{
    float: right;
    padding-top: 25px;
}
header li{
    display: inline-block;
}
header nav a{
    color: #000000;
    font-weight: bold;
    margin-right: 45px;
    text-decoration: none;
    text-transform: uppercase;
}

/*Style for Banner Section*/
#banner{
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
}
#banner > figcaption{
    position: absolute;
   bottom: 184px;
     left: 390px;
}
#banner h1{
    font-size: 46px;
}
#banner h2{
    font-size: 36px;
    font-weight: normal;
    margin-top: 20px;
}
/*Style for Dummy Text Section*/

#dummyText > h2{
    color: #444444;
    font-size: 30px;
    letter-spacing: 0.02em;
}

#dummyText > p{
    padding-top: 28px;
}

/*Style for Services Section*/

#services figure{
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #e3e3e3;
}
#services figure p{
    line-height: 1.7em;
}

#services{
    padding-bottom: 0;
}

/*Style for Instagram Section*/

#instagram{
    background-color: #2c2c2c;
}

#instagram h3{
    color: #d5d5d5;
}

#instagram figure > figcaption{
    display: none;
}

#instagram figure{
    position: relative;
}

#instagram figure:hover figcaption{
    background-color: #eeeeee;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: #000000;

    font-size: 36px;
    font-weight: bold;


    width: 373px;
    height: 314px;
     padding-top: 130px;
     padding-left: 60px;
}
#instagram > .container > p{
    border: 1px solid #a6a6a6;
    padding: 15px;
    width: 170px;
    margin: 30px auto 0;
}
#instagram > .container > p > a{
    color: #a6a6a6;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}
#instagram > .container > p > a > i{
    margin-right: 7px;
}

/*Style for Journal*/

#journal figure{
    background-color: #ffffff;
    padding-top: 28px;
    padding-bottom: 28px;
    border: 1px solid #e3e3e3;
}
#journal figure > h5{
    color: #444444;
    font-size: 16px;
    margin-bottom: 12px;
}
#journal figure > p{
    color: #999999;
    font-size: 12px;
    margin-bottom: 20px;
}

#journal figure > figcaption > p{
    padding: 25px 20px 22px;
    line-height: 1.6em;
}
#journal figure > figcaption > a{
    color: #999999;
    display: inline-block;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 25px;
    padding-bottom: 2px;
    border-bottom: 1px solid #28b8d8;
}
/*Style for Author*/
#author h3{
    text-align: left;
}
#author #aboutMe{
    overflow: hidden;
}
#author #aboutMe > figure{
    float: left;
}
#author #aboutMe > div{
    float: right;
    width: 340px;
}
#author #aboutMe > div > p:first-child{
    margin-bottom: 30px;
    line-height: 1.9em;
}
#author #aboutMe > div > p:last-child{
    line-height: 1.6em;
}
#author #myServices > div{
    overflow: hidden;
    margin-bottom: 30px;
}
#author #myServices > div > p{
    float: left;
    color: #28b8d8;
}
#author #myServices > div > div{
    float: right;
    width: 475px;
}

#author #myServices > div > div > h4{
    padding-top: 0;
}
#author #myServices > div > div > p{
    line-height: 1.6em;
}

/*Style for Social Media*/

#socialMedia{
    background-color: #373737;
    color: #cacaca;
}

#socialMedia h6{
    color: #f0f0f0;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 25px;
    text-transform: uppercase;
}

#socialMedia p{
    line-height: 1.6em;
    margin-bottom: 30px;
}

#socialMedia li{
    line-height: 1.6em;
}

#socialMedia .row > div:nth-child(3) > p:nth-child(2), #socialMedia .row > div:nth-child(3) > p:nth-child(4), #socialMedia .row > div:nth-child(3) > p:nth-child(6){
    margin-bottom: 0;
}
#socialMedia .row > div:nth-child(3) > p > time{
    color: #929292;
    font-size: 12px;

}

/*Style for Footer*/

footer{
    background-color: #333333;
    padding-top: 35px;
    padding-bottom: 25px;

}
footer > .container{
    overflow: hidden;
}
footer > .container > p{
    color: #cacaca;
    float: left;
}

footer > .container > ul{
    float: right;
    margin: 0;
}

footer > .container > ul > li{
    display: inline-block;
    margin-right: 20px;
}

footer > .container > ul > li > a{
    color: #ffffff;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #ffffff;
    border-radius: 100%;
}

footer > .container > ul > li > a:hover{
    color: #000000;
    border-color: #000000;
}

footer > .container > ul > li > a > i{
   /* padding-left: 9px;
    padding-top: 6px;*/
    position: relative;
    top: 5px;
    left: 9px;
}

footer > .container > ul > li:nth-child(2) > a > i{
    left: 6px;
}
footer > .container > ul > li:nth-child(3) > a > i{
    top: 4px;
    left: 7px;
}
footer > .container > ul > li:last-child > a > i{
    top: 5px;
    left: 6px;
}

















